
<section class="body">

    <div class="container">
        <h1 id="llego1">LLEGO</h1>
        <div class="caja_logito">
            <img class="logitoinicio" src="https://static.vecteezy.com/system/resources/previews/001/196/404/non_2x/run-cartoon-png.png" alt="">
        </div>
        <form #f="ngForm" (ngSubmit)="enviar(f)">
        <label>Nombre</label>
        <input type="text" placeholder="Nombre" name="nombre"  ngModel>
        <label>Apellido</label>
        <input type="text" placeholder="Apellido" name="apellido" ngModel>
        <label>Correo</label>
        <input type="text" placeholder="Correo" name="correo" ngModel>
        <label>Contraseña</label>
        <input type="password" placeholder="Contraseña" name="contrasena" ngModel>
        <label>fecha nacimiento</label>
        <input type="date" placeholder="fecha nacimiento" name="fecha_nacimiento"  ngModel>
        <label>telefono</label>
        <input type="text" placeholder="telefono" name="telefono" ngModel>
        <label>plata</label>
        <input type="number" placeholder="plata" name="plata" ngModel>
        <label>ciudad</label>
        <input type="text" placeholder="ciudad" name="ciudad" ngModel>
        <label>yape</label>
        <input type="text" placeholder="yape" name="yape" ngModel>
        <label>plin</label>
        <input type="text" placeholder="plin" name="plin" ngModel>
        <label>genero</label>
        <input type="text" placeholder="genero" name="genero" ngModel>

        
        <br>
        <br>


        <button id="registrar" type="submit">Registrarse</button>
        <button id="iniciarSesion" routerLink="/"type="submit">Iniciar sesión</button>
        </form>
    </div>
</section>
